[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pre-commit = "*"
python-multipart = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
app = "python3 main.py"
